body {
    background-color: darkblue;
    background-image: linear-gradient(to bottom right, darkblue, lightgray);
    font-family: 'Notable', sans-serif;
    text-align: center;
    color: gray;
    
}
h1 {
    font-size: 70px;
    padding: 40px;
    
}
h2 {
    font-size: 40px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.pics {
    float: left;
    width: 33%;
    padding: 10px;
}
.l1:hover {
    filter: blur(5px);
}
.l2:hover {
    filter: invert(100%);
}
.l3:hover {
    filter: sepia(100%);
}